.friend__list {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.friends__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: inline-flex;
  margin: 5px;
  background-color: rgba(65, 105, 225, 0.192);
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  width: 100px;
  height: 100px;
}

.active {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.offline {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
